.main{
     
    max-height: 60vh;

}

.mainContent{
    display: flex;
    padding-bottom:20px;
    border-bottom:1px solid white; 
}

.punkHighlight {

    flex:0.25;
    display:flex;
    align-items:center;
    justify-content:center;

}


.punkContainer{
    border-radius: 20px;
    overflow:hidden;
    display:flex;
    margin-right :20px;
}

.selectedPunk{
    object-fit: contain;
    max-width: min(30vw, 40vh);
    max-height:30vw;

} 

.punkDetails { 
  
    flex-direction: column;
    justify-content: space-between;
    flex:0.65;
}

.title{
    font-size: 96px;
    font-weight: 800;
}
.itemNumber {
    display:flex;
    color: grey;
    font-size:72px;
    align-self:center;

}

.owner{
    display:flex;
    margin : 10px 0px;
    height: 50px;

}

.owner > div{
    margin:0 5px;
  
} 

.ownerImageContainer{
    height:50px;
    width:50px;
    padding:5px;
    overflow:hidden;
    object-fit:contain;
    border-radius: 50%;
    border-radius: 50px;


}

.ownerImageContainer > img{
    height: 100%;
    width:100%; 
    border-radius: 50px;

}

.ownerDetails{
    display : flex;
    align-items : center;
    flex : 1;
}

.ownerNameAndHandle{
    flex:1;
    color:white;
}


.ownerHandle{
    color:cyan
}

.ownerLink{
    
    padding:12px;
    height:50px;
    border-radius: 50px;
    width:50px;
    border:1px solid white;
    margin: 0 0 0 10px;
    padding:4px;
}

.ownerLink > img{
    height:100%;
    width: 100%;
}